<!-- component: tab-bar; variant: selected=pending; boundingBox: 358 × 49 CSS px -->
<div
  data-dc-tpl="165"
  data-component="tab-bar"
  data-variant="selected=pending"
  style="
    display:flex;
    border-bottom:1px solid #3a3a3a;
  "
>
  <button
    data-dc-tpl="167"
    type="button"
    style="
      flex:1 1 0%;
      height:48px;
      border-width:0px 0px 3px;
      border-style:none none solid;
      border-color:currentcolor currentcolor rgb(231, 252, 110);
      border-image:none;
      cursor:pointer;
      font-style:inherit;
      font-variant:inherit;
      font-weight:500;
      font-stretch:inherit;
      font-size:14px;
      line-height:inherit;
      font-family:inherit;
      font-optical-sizing:inherit;
      font-size-adjust:inherit;
      font-kerning:inherit;
      font-feature-settings:inherit;
      font-variation-settings:inherit;
      font-language-override:inherit;
      background:rgb(18, 18, 18);
      color:rgb(231, 252, 110);
    "
  >
    <span
      class="sc-interp"
    >
      Pending
    </span>
  </button>
  <button
    data-dc-tpl="167"
    type="button"
    style="
      flex:1 1 0%;
      height:48px;
      border-width:0px 0px 3px;
      border-style:none none solid;
      border-color:currentcolor currentcolor rgb(18, 18, 18);
      border-image:none;
      cursor:pointer;
      font-style:inherit;
      font-variant:inherit;
      font-weight:500;
      font-stretch:inherit;
      font-size:14px;
      line-height:inherit;
      font-family:inherit;
      font-optical-sizing:inherit;
      font-size-adjust:inherit;
      font-kerning:inherit;
      font-feature-settings:inherit;
      font-variation-settings:inherit;
      font-language-override:inherit;
      background:rgb(18, 18, 18);
      color:rgb(202, 202, 202);
    "
  >
    <span
      class="sc-interp"
    >
      History
    </span>
  </button>
</div>
