<!-- component: fab; variant: variant=filled width=full; boundingBox: 358 × 56 CSS px -->
<button
  data-dc-tpl="75"
  type="button"
  data-component="fab"
  data-variant="variant=filled width=full"
  style="
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    height:56px;
    padding:0px 20px;
    border:0px;
    border-radius:16px;
    cursor:pointer;
    font-style:inherit;
    font-variant:inherit;
    font-weight:500;
    font-stretch:inherit;
    font-size:14px;
    line-height:inherit;
    font-family:inherit;
    font-optical-sizing:inherit;
    font-size-adjust:inherit;
    font-kerning:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    font-language-override:inherit;
    background:rgb(231, 252, 110);
    color:rgb(27, 27, 27);
    width:358px;
  "
>
  <span
    data-dc-tpl="76"
    class="msy"
    style="
      font-size:24px;
    "
  >
    <span
      class="sc-interp"
    >
      qr_code_scanner
    </span>
  </span>
  <span
    class="sc-interp"
  >
    Scan QR code
  </span>
</button>
