<!-- component: fact-row; variant: value=short; boundingBox: 358 × 42 CSS px -->
<div
  data-dc-tpl="187"
  data-component="fact-row"
  data-variant="value=short"
  style="
    display:flex;
    justify-content:space-between;
    gap:16px;
    flex:0 0 auto;
    border-radius:16px;
    padding:13px 16px;
    background:#1c1c1c;
  "
>
  <span
    data-dc-tpl="188"
    style="
      font-size:14px;
      color:#cacaca;
    "
  >
    <span
      class="sc-interp"
    >
      From
    </span>
  </span>
  <span
    data-dc-tpl="189"
    style="
      font-size:14px;
      text-align:right;
    "
  >
    <span
      class="sc-interp"
    >
      studio-mac
    </span>
  </span>
</div>
