<!-- component: fact-row; variant: value=mono; boundingBox: 358 × 45 CSS px -->
<div
  data-dc-tpl="187"
  data-component="fact-row"
  data-variant="value=mono"
  style="
    display:flex;
    justify-content:space-between;
    gap:16px;
    flex:0 0 auto;
    border-radius:16px;
    padding:13px 16px;
    background:#1c1c1c;
  "
>
  <span
    data-dc-tpl="188"
    style="
      font-size:14px;
      color:#cacaca;
    "
  >
    <span
      class="sc-interp"
    >
      Wallet
    </span>
  </span>
  <span
    data-dc-tpl="189"
    style="
      font-size:14px;
      text-align:right;
      font-family:"Roboto Mono", ui-monospace, monospace;
    "
  >
    <span
      class="sc-interp"
    >
      Bzy2Lson…2B16K54
    </span>
  </span>
</div>
