<!-- component: fact-row; variant: value=full-address; boundingBox: 358 × 62 CSS px -->
<div
  data-dc-tpl="187"
  data-component="fact-row"
  data-variant="value=full-address"
  style="
    display:flex;
    justify-content:space-between;
    gap:16px;
    flex:0 0 auto;
    border-radius:16px;
    padding:13px 16px;
    background:#1c1c1c;
  "
>
  <span
    data-dc-tpl="188"
    style="
      font-size:14px;
      color:#cacaca;
    "
  >
    <span
      class="sc-interp"
    >
      Recipient
    </span>
  </span>
  <span
    data-dc-tpl="189"
    style="
      font-size:13px;
      font-family:"Roboto Mono", ui-monospace, monospace;
      word-break:break-all;
    "
  >
    <span
      class="sc-interp"
    >
      FyfWsSPWUHbFWA5iwtgujuHbmaJxyCvrYSxLobvYSpEA
    </span>
  </span>
</div>
