<!-- component: icon-button; variant: size=md tone=surface; boundingBox: 40 × 40 CSS px -->
<button
  data-dc-tpl="65"
  type="button"
  data-component="icon-button"
  data-variant="size=md tone=surface"
  style="
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    flex:0 0 auto;
    border:0px;
    border-radius:20px;
    cursor:pointer;
    background:rgb(46, 46, 46);
    color:rgb(255, 255, 255);
  "
>
  <span
    data-dc-tpl="66"
    class="msy"
    style="
      font-size:22px;
    "
  >
    <span
      class="sc-interp"
    >
      refresh
    </span>
  </span>
</button>
