<!-- component: icon-button; variant: size=lg tone=surface; boundingBox: 48 × 48 CSS px -->
<button
  data-dc-tpl="65"
  type="button"
  data-component="icon-button"
  data-variant="size=lg tone=surface"
  style="
    display:flex;
    align-items:center;
    justify-content:center;
    width:48px;
    height:48px;
    flex:0 0 auto;
    border:0px;
    border-radius:24px;
    cursor:pointer;
    background:rgb(18, 18, 18);
    color:rgb(255, 255, 255);
  "
>
  <span
    data-dc-tpl="66"
    class="msy"
    style="
      font-size:22px;
    "
  >
    <span
      class="sc-interp"
    >
      arrow_back
    </span>
  </span>
</button>
