<!-- component: button; variant: variant=disabled size=lg; boundingBox: 168.484 × 48 CSS px -->
<button
  data-dc-tpl="57"
  type="button"
  data-component="button"
  data-variant="variant=disabled size=lg"
  style="
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:48px;
    padding:0px 24px;
    border-radius:24px;
    font-style:inherit;
    font-variant:inherit;
    font-weight:500;
    font-stretch:inherit;
    font-size:15px;
    line-height:inherit;
    font-family:inherit;
    font-optical-sizing:inherit;
    font-size-adjust:inherit;
    font-kerning:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    font-language-override:inherit;
    cursor:not-allowed;
    border:0px;
    background:rgb(46, 46, 46);
    color:rgb(202, 202, 202);
  "
>
  <span
    class="sc-interp"
  >
    Approve and send
  </span>
</button>
