<!-- component: button; variant: variant=filled size=sm; boundingBox: 128.422 × 32 CSS px -->
<button
  data-dc-tpl="57"
  type="button"
  data-component="button"
  data-variant="variant=filled size=sm"
  style="
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:32px;
    padding:0px 12px;
    border-radius:16px;
    font-style:inherit;
    font-variant:inherit;
    font-weight:500;
    font-stretch:inherit;
    font-size:13px;
    line-height:inherit;
    font-family:inherit;
    font-optical-sizing:inherit;
    font-size-adjust:inherit;
    font-kerning:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    font-language-override:inherit;
    cursor:pointer;
    border:0px;
    background:rgb(231, 252, 110);
    color:rgb(27, 27, 27);
  "
>
  <span
    class="sc-interp"
  >
    Approve and send
  </span>
</button>
