<!-- component: text-field; variant: state=rest; boundingBox: 358 × 58 CSS px -->
<div
  data-dc-tpl="144"
  data-component="text-field"
  data-variant="state=rest"
  style="
    display:flex;
    flex-direction:column;
    gap:6px;
  "
>
  <div
    data-dc-tpl="145"
    style="
      border-radius:4px 4px 0px 0px;
      padding:8px 16px;
      background:rgb(46, 46, 46);
      border-bottom:1px solid rgb(202, 202, 202);
    "
  >
    <div
      data-dc-tpl="146"
      style="
        font-size:12px;
        color:rgb(202, 202, 202);
      "
    >
      <span
        class="sc-interp"
      >
        Amount to swap, in SOL
      </span>
    </div>
    <input
      data-dc-tpl="147"
      type="text"
      value="1.5"
      style="
        width:100%;
        border:0px;
        padding:2px 0px 0px;
        font-style:inherit;
        font-variant:inherit;
        font-weight:inherit;
        font-stretch:inherit;
        font-size:16px;
        line-height:inherit;
        font-family:inherit;
        font-optical-sizing:inherit;
        font-size-adjust:inherit;
        font-kerning:inherit;
        font-feature-settings:inherit;
        font-variation-settings:inherit;
        font-language-override:inherit;
        background:rgb(46, 46, 46);
        color:rgb(255, 255, 255);
      "
    >
  </div>
  <div
    data-dc-tpl="148"
    style="
      font-size:12px;
      color:#f83959;
    "
  >
    <span
      class="sc-interp"
    >
    </span>
  </div>
</div>
