<!-- component: network-chip; variant: network=devnet; boundingBox: 93.922 × 24 CSS px -->
<span
  data-dc-tpl="85"
  data-component="network-chip"
  data-variant="network=devnet"
  style="
    display:inline-flex;
    align-items:center;
    gap:5px;
    flex:0 0 auto;
    height:24px;
    padding:0px 9px;
    border-radius:8px;
    font-size:12px;
    font-weight:500;
    background:rgb(46, 46, 46);
    color:rgb(202, 202, 202);
  "
>
  <span
    class="sc-interp"
  >
    Solana devnet
  </span>
</span>
