<!-- component: wallet-banner; variant: variant=compact; boundingBox: 390 × 72 CSS px -->
<div
  data-dc-tpl="305"
  data-component="wallet-banner"
  data-variant="variant=compact"
  style="
    display:flex;
    align-items:center;
    gap:12px;
    flex:0 0 auto;
    border-radius:16px;
    padding:16px;
    width:358px;
    cursor:pointer;
    background:rgb(194, 230, 15);
    color:rgb(27, 27, 27);
  "
>
  <span
    data-dc-tpl="316"
    class="msy"
    style="
      font-size:24px;
    "
  >
    <span
      class="sc-interp"
    >
      account_balance_wallet
    </span>
  </span>
  <span
    data-dc-tpl="317"
    style="
      flex:1 1 0%;
      min-width:0px;
      display:flex;
      flex-direction:column;
      gap:2px;
    "
  >
    <span
      data-dc-tpl="318"
      style="
        font-size:16px;
        font-weight:500;
      "
    >
      <span
        class="sc-interp"
      >
        renatnomad.skr
      </span>
    </span>
    <span
      data-dc-tpl="319"
      style="
        font-size:13px;
        font-family:"Roboto Mono", ui-monospace, monospace;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      "
    >
      <span
        class="sc-interp"
      >
        Bzy2Lson…2B16K54
      </span>
    </span>
  </span>
  <span
    data-dc-tpl="320"
    style="
      display:flex;
      align-items:center;
      justify-content:center;
      width:40px;
      height:40px;
      flex:0 0 auto;
      border:0px;
      border-radius:20px;
      cursor:pointer;
      background:rgb(194, 230, 15);
      color:rgb(27, 27, 27);
    "
  >
    <span
      data-dc-tpl="321"
      class="msy"
      style="
        font-size:22px;
      "
    >
      content_copy
    </span>
  </span>
</div>
