<!-- component: source-avatar; variant: src=runner-node; boundingBox: 40 × 40 CSS px -->
<span
  data-dc-tpl="93"
  data-component="source-avatar"
  data-variant="src=runner-node"
  style="
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    flex:0 0 auto;
    border-radius:20px;
    font-size:14px;
    font-weight:500;
    background:rgb(201, 167, 255);
    color:rgb(36, 16, 66);
  "
>
  <span
    class="sc-interp"
  >
    RN
  </span>
</span>
