<!-- component: check-row; variant: state=checked; boundingBox: 358 × 46 CSS px -->
<div
  data-dc-tpl="123"
  data-component="check-row"
  data-variant="state=checked"
  style="
    display:flex;
    align-items:center;
    gap:12px;
    border-radius:16px;
    padding:12px 14px;
    background:#1c1c1c;
  "
>
  <span
    data-dc-tpl="124"
    class="msy"
    style="
      font-size:22px;
      color:rgb(231, 252, 110);
    "
  >
    <span
      class="sc-interp"
    >
      check_box
    </span>
  </span>
  <span
    data-dc-tpl="125"
    style="
      flex:1 1 0%;
      font-size:14px;
    "
  >
    <span
      class="sc-interp"
    >
      Expected
    </span>
  </span>
</div>
