<!-- component: check-row; variant: state=unchecked label=warning-ack; boundingBox: 358 × 56 CSS px -->
<div
  data-dc-tpl="123"
  data-component="check-row"
  data-variant="state=unchecked label=warning-ack"
  style="
    display:flex;
    align-items:center;
    gap:12px;
    border-radius:16px;
    padding:12px 14px;
    background:#1c1c1c;
  "
>
  <span
    data-dc-tpl="124"
    class="msy"
    style="
      font-size:22px;
      color:rgb(202, 202, 202);
    "
  >
    <span
      class="sc-interp"
    >
      check_box_outline_blank
    </span>
  </span>
  <span
    data-dc-tpl="125"
    style="
      flex:1 1 0%;
      font-size:14px;
    "
  >
    <span
      class="sc-interp"
    >
      I have read all 3 warnings and want to approve anyway
    </span>
  </span>
</div>
