<!-- component: signal-label; variant: origin=signal; boundingBox: 51.344 × 24 CSS px -->
<span
  data-dc-tpl="85"
  data-component="signal-label"
  data-variant="origin=signal"
  style="
    display:inline-flex;
    align-items:center;
    gap:5px;
    flex:0 0 auto;
    height:24px;
    padding:0px 9px;
    border-radius:8px;
    font-size:12px;
    font-weight:500;
    background:rgb(46, 46, 46);
    color:rgb(255, 255, 255);
  "
>
  <span
    class="sc-interp"
  >
    Signal
  </span>
</span>
