<!-- component: radio-row; variant: state=on; boundingBox: 109.578 × 24 CSS px -->
<div
  data-dc-tpl="133"
  data-component="radio-row"
  data-variant="state=on"
  style="
    display:flex;
    align-items:center;
    gap:12px;
  "
>
  <span
    data-dc-tpl="134"
    style="
      display:flex;
      align-items:center;
      justify-content:center;
      width:20px;
      height:20px;
      border-radius:50%;
      flex:0 0 auto;
      background:rgb(28, 28, 28);
      border:2px solid rgb(231, 252, 110);
    "
  >
    <span
      data-dc-tpl="135"
      style="
        width:10px;
        height:10px;
        border-radius:50%;
        background:rgb(231, 252, 110);
      "
    >
    </span>
  </span>
  <span
    data-dc-tpl="136"
    style="
      font-size:15px;
    "
  >
    <span
      class="sc-interp"
    >
      Native SOL
    </span>
  </span>
</div>
