<!-- component: section-header; variant: trailing=button; boundingBox: 358 × 40 CSS px -->
<div
  data-dc-tpl="101"
  data-component="section-header"
  data-variant="trailing=button"
  style="
    display:flex;
    align-items:center;
    gap:8px;
    padding:8px 4px 0px;
  "
>
  <span
    data-dc-tpl="102"
    style="
      flex:1 1 0%;
      font-size:14px;
      font-weight:500;
      color:#e7fc6e;
    "
  >
    <span
      class="sc-interp"
    >
      Waiting for you
    </span>
  </span>
  <button
    data-dc-tpl="104"
    type="button"
    style="
      display:inline-flex;
      align-items:center;
      justify-content:center;
      height:32px;
      padding:0px 12px;
      border-radius:16px;
      font-style:inherit;
      font-variant:inherit;
      font-weight:500;
      font-stretch:inherit;
      font-size:13px;
      line-height:inherit;
      font-family:inherit;
      font-optical-sizing:inherit;
      font-size-adjust:inherit;
      font-kerning:inherit;
      font-feature-settings:inherit;
      font-variation-settings:inherit;
      font-language-override:inherit;
      cursor:pointer;
      border:0px;
      background:rgb(46, 46, 46);
      color:rgb(231, 252, 110);
    "
  >
    <span
      class="sc-interp"
    >
      5 · see all
    </span>
  </button>
</div>
