<!-- component: segmented; variant: count=3 selected=1; boundingBox: 250 × 40 CSS px -->
<div
  data-dc-tpl="156"
  data-component="segmented"
  data-variant="count=3 selected=1"
  style="
    display:flex;
  "
>
  <button
    data-dc-tpl="158"
    type="button"
    style="
      flex:1 1 0%;
      height:40px;
      cursor:pointer;
      font-style:inherit;
      font-variant:inherit;
      font-weight:500;
      font-stretch:inherit;
      font-size:14px;
      line-height:inherit;
      font-family:inherit;
      font-optical-sizing:inherit;
      font-size-adjust:inherit;
      font-kerning:inherit;
      font-feature-settings:inherit;
      font-variation-settings:inherit;
      font-language-override:inherit;
      border:1px solid rgb(111, 111, 111);
      border-radius:20px 0px 0px 20px;
      background:rgb(28, 28, 28);
      color:rgb(255, 255, 255);
    "
  >
    <span
      class="sc-interp"
    >
      0.1%
    </span>
  </button>
  <button
    data-dc-tpl="158"
    type="button"
    style="
      flex:1 1 0%;
      height:40px;
      cursor:pointer;
      font-style:inherit;
      font-variant:inherit;
      font-weight:500;
      font-stretch:inherit;
      font-size:14px;
      line-height:inherit;
      font-family:inherit;
      font-optical-sizing:inherit;
      font-size-adjust:inherit;
      font-kerning:inherit;
      font-feature-settings:inherit;
      font-variation-settings:inherit;
      font-language-override:inherit;
      border-width:1px 1px 1px 0px;
      border-style:solid solid solid none;
      border-color:rgb(111, 111, 111) rgb(111, 111, 111) rgb(111, 111, 111) currentcolor;
      border-image:none;
      background:rgb(194, 230, 15);
      color:rgb(27, 27, 27);
    "
  >
    <span
      class="sc-interp"
    >
      0.5%
    </span>
  </button>
  <button
    data-dc-tpl="158"
    type="button"
    style="
      flex:1 1 0%;
      height:40px;
      cursor:pointer;
      font-style:inherit;
      font-variant:inherit;
      font-weight:500;
      font-stretch:inherit;
      font-size:14px;
      line-height:inherit;
      font-family:inherit;
      font-optical-sizing:inherit;
      font-size-adjust:inherit;
      font-kerning:inherit;
      font-feature-settings:inherit;
      font-variation-settings:inherit;
      font-language-override:inherit;
      border-width:1px 1px 1px 0px;
      border-style:solid solid solid none;
      border-color:rgb(111, 111, 111) rgb(111, 111, 111) rgb(111, 111, 111) currentcolor;
      border-image:none;
      border-radius:0px 20px 20px 0px;
      background:rgb(28, 28, 28);
      color:rgb(255, 255, 255);
    "
  >
    <span
      class="sc-interp"
    >
      1%
    </span>
  </button>
</div>
