<!-- component: rule-row; variant: kind=action state=unchecked; boundingBox: 358 × 59 CSS px -->
<div
  data-dc-tpl="197"
  data-component="rule-row"
  data-variant="kind=action state=unchecked"
  style="
    display:flex;
    align-items:center;
    gap:12px;
    border-radius:12px;
    padding:12px;
    background:rgb(46, 46, 46);
    cursor:pointer;
  "
>
  <span
    data-dc-tpl="198"
    class="msy"
    style="
      font-size:20px;
      color:rgb(202, 202, 202);
    "
  >
    <span
      class="sc-interp"
    >
      check_box_outline_blank
    </span>
  </span>
  <span
    data-dc-tpl="199"
    style="
      flex:1 1 0%;
      min-width:0px;
      display:flex;
      flex-direction:column;
      gap:2px;
    "
  >
    <span
      data-dc-tpl="200"
      style="
        font-size:15px;
      "
    >
      <span
        class="sc-interp"
      >
        Acknowledge text
      </span>
    </span>
    <span
      data-dc-tpl="201"
      style="
        font-size:13px;
        color:#cacaca;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      "
    >
      <span
        class="sc-interp"
      >
        Not expected
      </span>
    </span>
  </span>
</div>
