<!-- component: nav-item; variant: state=rest; boundingBox: 120 × 80 CSS px -->
<div
  data-dc-tpl="175"
  data-component="nav-item"
  data-variant="state=rest"
  style="
    display:flex;
    height:80px;
    background:#1c1c1c;
  "
>
  <span
    data-dc-tpl="176"
    style="
      flex:1 1 0%;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      gap:4px;
      border:0px;
      cursor:pointer;
      font:inherit;
      background:rgb(28, 28, 28);
      color:rgb(202, 202, 202);
    "
  >
    <span
      data-dc-tpl="177"
      style="
        display:flex;
        align-items:center;
        justify-content:center;
        width:64px;
        height:32px;
        border-radius:16px;
        background:rgb(28, 28, 28);
        color:rgb(202, 202, 202);
      "
    >
      <span
        data-dc-tpl="178"
        class="msy"
        style="
          font-size:24px;
        "
      >
        <span
          class="sc-interp"
        >
          inbox
        </span>
      </span>
    </span>
    <span
      data-dc-tpl="179"
      style="
        font-size:12px;
        font-weight:500;
      "
    >
      <span
        class="sc-interp"
      >
        Inbox
      </span>
    </span>
  </span>
</div>
