<!-- component: token-button-size; variant: size=sm; boundingBox: 169.906 × 32 CSS px -->
<button
  data-dc-tpl="48"
  type="button"
  data-component="token-button-size"
  data-variant="size=sm"
  style="
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:32px;
    padding:0px 12px;
    border-radius:16px;
    font-style:inherit;
    font-variant:inherit;
    font-weight:500;
    font-stretch:inherit;
    font-size:13px;
    line-height:inherit;
    font-family:inherit;
    font-optical-sizing:inherit;
    font-size-adjust:inherit;
    font-kerning:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    font-language-override:inherit;
    cursor:pointer;
    border:0px;
    background:rgb(46, 46, 46);
    color:rgb(231, 252, 110);
  "
>
  <span
    class="sc-interp"
  >
    32 high · radius 16 · 13px
  </span>
</button>
