<!-- component: token-button-size; variant: size=md; boundingBox: 205.125 × 40 CSS px -->
<button
  data-dc-tpl="48"
  type="button"
  data-component="token-button-size"
  data-variant="size=md"
  style="
    display:inline-flex;
    align-items:center;
    justify-content:center;
    height:40px;
    padding:0px 24px;
    border-radius:20px;
    font-style:inherit;
    font-variant:inherit;
    font-weight:500;
    font-stretch:inherit;
    font-size:14px;
    line-height:inherit;
    font-family:inherit;
    font-optical-sizing:inherit;
    font-size-adjust:inherit;
    font-kerning:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    font-language-override:inherit;
    cursor:pointer;
    border:0px;
    background:rgb(46, 46, 46);
    color:rgb(231, 252, 110);
  "
>
  <span
    class="sc-interp"
  >
    40 high · radius 20 · 14px
  </span>
</button>
